# Logs
**/logs
**/*.log
**/npm-debug.log*

# Node modules
**/node_modules

# Build outputs
frontend/dist
backend/dist

# System files
.DS_Store

# Env files
**/.env
**/.env.local
**/.env.*.local

# Vite cache
frontend/.vite

# IDE
.vscode
.idea
